@mixin font-face($font-family, $font-src, $font-style: normal, $font-weight: normal) {
	@font-face {
		font-family: $font-family;
		src: url('../#{$font-src}.woff2') format('woff2'), /* Super Modern Browsers */
		     url('../#{$font-src}.woff') format('woff'); /* Pretty Modern Browsers */
		font-style: $font-style;
		font-weight: $font-weight;
	}
}